@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Poppins', sans-serif;
}

h1{
    color: $themeColor-whiteTxt;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;

    ul {
        height: 10vh;
        display:flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        margin-left:auto;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color:black;
        font-size: 18px;
    }

    .logo {
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size:2rem;
    }

    .mobile-menu-icon div {
        width: 25px;
        height: 5px;
        background-color: black;
        margin:5px;
    }
}



.home, 
.about {
    height: 90vh;
    position: absolute;
    width:100%;
}

.home {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.about {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.home-content, 
.about-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
        height: 70%;
    }
    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }
    p {
        font-size: 20px;
    }
}